

div{
	display: block;
}
body{
    background: #E9E9E7
}
h1{
	color : #005766;	
    font-family: sans-serif;
    text-align: center;
    font-size: 400%;
}
#container{
	width : 100%;
	margin : auto;
	padding : auto;
	text-align : center;
}
.person{
	display:  inline-block;
	width : 420px;
	min-height : 500px;
	padding: 1%;
	padding-top: 2%;
	margin: 1%;
    cursor: pointer;
    background: #005766; 
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

h2{
	color : #77c2ea;
    font-size: 200%;
}

img{
	width : 400px;
	height : 400px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#loader{
	width : 50px;
	height : 50px;
	padding : 20px;
}
